/*generals*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../img/background.jpg);
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

/*utilities*/

.pointer {
    cursor: pointer;
}

/*me*/

.me-photo {
    height: 380px;
}

.introduction {
    margin-top: 180px;
    margin-bottom: 80px;
}

/*projects*/

.project-img {
    height: 230px;
}

.project img {
    transition: all 300ms;
}

.project:hover img {
    filter: brightness(40%);
}

.project:hover .project-buttons {
    opacity: 1;
}

.project-buttons {
    top: -60px;
    opacity: 0;
}

/*tech*/



.tech:hover .tech-img{
    height: 80px;
}

.tech-img {
    height: 100px;
    transition: all 300ms;
}

/*resume*/
.resume {
    height: 1100px;
}

/*contact*/

.contact-icon {
    height: 200px;
    transition: all 300ms;
}

.contact-icon:hover {
    height: 150px;
}

/*personalization responsive*/

@media(max-width: 519px) {
    .me-photo {
        height: 250px;
    }

    .project-img {
        height: 150px;
    }
}

@media(max-width: 338px) {
    .project-img {
        height: 100px;
    }
}