/*generals*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../img/background.jpg);
    min-height: 100vh;
}

/*me*/

.me-photo {
    height: 380px;
}

/*projects*/

.project-img {
    height: 230px;
}

/*tech*/

.tech-img {
    height: 100px;
}

/*resume*/
.resume {
    height: 1100px;
}

/*contact*/

.contact-icon {
    height: 200px;
}