/*generals*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../img/background.jpg);
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

/*me*/

.me-photo {
    height: 380px;
}

/*projects*/

.projects {
    margin-top: 110px !important;
}

.project-img {
    height: 230px;
}

/*tech*/

.tech-img {
    height: 100px;
}

/*resume*/
.resume {
    height: 1100px;
}

/*contact*/

.contact-icon {
    height: 200px;
}

/*personalization responsive*/

@media(max-width: 519px) {
    .me-photo {
        height: 250px;
    }

    .project-img {
        height: 150px;
    }
}

@media(max-width: 338px) {
    .project-img {
        height: 100px;
    }
}